# Fbiz Framework #
###################
build/
release/
[bB]in/
obj/
**/assets/upload/
*.suo
*.user
*.mdf
*.LDF
_ReSharper*
*.db
*.cache
*Publish.xml
*.refresh
*.tmp*
*.scc
*.lnk
*.vss
TestResults
TestResult.xml
Local.testsettings

# Arquivos gerados do Front-end #
#################################
*.map
bower_components
node_modules
*.lock
*.sublime-workspace
no-cache/
**/assets/js/dist/*.txt

# Arquivos ocultos são ignorados por padrão #
#############################################
.*

# Arquivos compilados #
#######################
*.com
*.class
*.o
*.so
*.pdb

# Packages #
############
# it's better to unpack these files and commit the raw source
# git has its own built in compression methods
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.bkp

# Logs e banco de dados #
#########################
*.log
*.suo